---
import "@fontsource/inter";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/inter/900.css";
import "@fontsource-variable/urbanist";
import "@fontsource/bungee-hairline";
import "@fontsource/bungee-hairline/400.css";
import "@fontsource/manjari";
import "@fontsource/manjari/400.css";
import "@fontsource/manjari/700.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" class="bg-bgDark2">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="description"
      content="Web X website - The future of web development is here"
    />
    <title>{title}</title>
  </head>
  <body class="bg-bgDark2">
    <main aria-label="Main content">
      <slot />
    </main>
    <style is:global>
      html {
        font-family: Inter;
        background-color: #26272b;
        overflow-x: hidden;
        scroll-behavior: smooth !important;
      }

      .rainbow-text-gradient {
        --scaling: 200%;
        background: linear-gradient(
          90deg,
          #ff3b3b,
          #ff803b,
          #ffff3b,
          #80ff3b,
          #3bff3b,
          #3bff80,
          #3bffff,
          #3b80ff,
          #3b3bff,
          #803bff,
          #ff3bff,
          #ff3b80,
          #ff3b3b
        );
        background-size: var(--scaling) 100%;
        background-position: 0 0;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: rainbow 10s linear infinite;
        display: inline-block;
        filter: drop-shadow(0 0 0.5px #fff) drop-shadow(0 1px 1.5px #fff)
          brightness(1.5);
      }

      @keyframes rainbow {
        0% {
          background-position-x: 0%;
        }
        100% {
          background-position-x: var(--scaling);
        }
      }

      .retro-text-gradient {
        background: linear-gradient(
          180deg,
          #f7eef1 20%,
          #daa9f3 30%,
          #5e2ec5 55%,
          #7400b7 80%
        );
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: inline-block;
        filter: drop-shadow(0 0.75px 0 #1c0d36) drop-shadow(0 -0.75px 0 #d8a5ec);
      }

      .token.plain {
        display: inline-block;
        margin-left: 1ch;
      }
      .token.plain + .token.plain {
        margin-left: 2ch;
      }
      .token.plain:first-child {
        margin-left: 2ch;
      }

      pre code {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
      }

      *::-webkit-scrollbar {
        width: 7px;
        height: 7px;
      }

      *::-webkit-scrollbar-thumb {
        background: #353535;
        border-radius: 10px;
      }

      *::-webkit-scrollbar-thumb:hover {
        background: #494949;
      }
      /* Hide scrollbar edge */
      *::-webkit-scrollbar-corner {
        background: transparent;
      }
    </style>
  </body>
</html>
